body{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 48px;
    background-image: url(table.png);
    background-size: cover;
    font-weight: bold;
}
h1{
    color: goldenrod;
    margin-top: 1px;
}
p{
    color: #fff;
}
#message{
    font-style: italic;
}
button{
    background-color: goldenrod;
    color: #016f32;
    border-radius: 10px;
    padding: 15px;
    font-size: 35px;
    border: none;
    margin: 15px;
    width: 500px;
}

button:hover{
    background-color: #016f32;
    color: goldenrod;
}
